{#
/**
 * @file
 * Template for the main page.
 */
#}
{% set container = container ?? 'fixed' %}

<div class="page">
  <header class="page__header">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          {% if page.header_left %}
            <div class="page__header--left hidden-xs">
              {{ page.header_left }}
            </div>
          {% endif %}
        </div>
        <div class="col-sm-8">
          {% if page.header_right %}
            <div class="page__header--right">
              {{ page.header_right }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </header>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle hamburger-menu" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <button type="button" class="navbar-toggle user-menu hidden" data-toggle="collapse" data-target=".navbar-collapse--user">
          <i class="fa fa-user" aria-hidden="true"></i>
        </button>
        <div class="branding--mobile">
          {{ page.header_left }}
        </div>
      </div>

      {% if page.header_right %}
        <div class="collapse navbar-collapse--user">
          <div class="navbar-user">
            {{ page.header_right }}
          </div>
        </div>
      {% endif %}

      <div class="collapse navbar-collapse">
        {% if page.navbar_left %}
          <div class="navbar-left">
            {{ page.navbar_left }}
          </div>
        {% endif %}

        {% if page.navbar_right %}
          <div class="navbar-right">
            {{ page.navbar_right }}
          </div>
        {% endif %}
      </div>
    </div>
  </nav>

  {% if page.promo_left or page.promo_right %}
    <div class="visible-lg">
      {% if page.promo_left %}
        <div class="page__promo--left">
          {{ page.promo_left }}
        </div>
      {% endif %}
      {% if page.promo_right %}
        <div class="page__promo--right">
          {{ page.promo_right }}
        </div>
      {% endif %}
    </div>
  {% endif %}

  <main>
    {% if page.carousel %}
      <div class="page__carousel">
        {{ page.carousel }}
      </div>
    {% endif %}

    {% if page.breadcrumb %}
      <div class="page__breadcrumb">
        <div class="container">
          {{ page.breadcrumb }}
        </div>
      </div>
    {% endif %}

    <div class="page__content-wrapper">
      {% if page.content_top %}
        <div class="page__content--top">
          <div class="container">
            {{ page.content_top }}
          </div>
        </div>
      {% endif %}

      {% block content %}
        {% if page.sidebar and not (container == 'fluid' and is_front) %}
          <div class="container">
            <div class="row">
              <div class="page__content col-sm-8">
                {{ page.content }}
              </div>

              <div class="page__sidebar col-sm-4">
                {{ page.sidebar }}
              </div>
            </div>
          </div>
        {% else %}
          <div class="page__content">
            <div class="container">
              {{ page.content }}
            </div>
          </div>
        {% endif %}
      {% endblock %}
    </div>
  </main>

  {% if page.footer %}
    <footer class="page__footer">
      <div class="container">
        {{ page.footer }}

        {% if copyright %}
          <div class="block">
            <small class="text-center">{{ copyright }}</small>
          </div>
        {% endif %}
      </div>
    </footer>
  {% endif %}
</div>
