{#
/**
 * @file
 * Template for a collapsible menu.
 */
#}
{% set prefix = 'menu-' ~ random() %}
<div class="menu menu--collapsible">
  <div class="panel-group">
    {% for item in items %}
      {% set expanded = item.in_active_trail %}
      {% set classes = [ item.in_active_trail ? 'active'] %}
      <div class="panel {{ item.in_active_trail ? 'panel-primary panel--expanded' : 'panel-default' }}">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a {{ item.attributes.addClass(classes) }} href={{ item.url }}>{{ item.title }}</a>
            {% if item.below %}
              <a class="toggle-icon" data-toggle="collapse" data-parent="#accordion" href="#{{ prefix }}-{{ loop.index }}"></a>
            {% endif %}
          </h4>
        </div>

        {% if item.below %}

          {# Determine if item is expanded. #}
          {% for item in item.below %}
            {% if not expanded %}
              {% set expanded = item.in_active_trail %}
            {% endif %}
          {% endfor %}

          <div id="{{ prefix }}-{{ loop.index }}" class="panel-collapse collapse {{ expanded ? 'in' }}">
            <div class="list-group">
              {% for item in item.below %}
                {% set classes = [ 'list-group-item', item.in_active_trail ? 'list-group-item--active' ] %}
                <a {{ item.attributes.addClass(classes) }} href={{ item.url }}>{{ item.title }}</a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

