// Forum
// -----------------------------------------------------------------------------

.forum-list > tbody > tr > td {
  vertical-align: middle;
}

.indent {
  padding-left: 15px;
}

.forum-icon {
  @extend .fa;
}

.forum-status-default {
  @extend .fa-comment-o;
}

.forum-status-new {
  @extend .fa-comments;
}

.forum-description {
  padding-top: 5px;
  font-style: italic;
}

